<h2 align="center">Article List</h2>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Pending</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Approved</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Rejected</a></li>
  </ul>

  <!-- Tab panes -->
  
   
    
 
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
<table id="home">
	<h3>Articles for approval</h3>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="3"></th>
	</tr>

	<% @pending_articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
		<td><%= link_to 'Approve', approved_by_admin_article_path(article) %></td>
        <td><%= link_to 'Reject', rejected_by_admin_article_path(article) %></td>
		<!-- <td> Status:<%#= article.status %></td> -->
	</tr>
	<% end %>	

</table><br><br>
</div>

 <div role="tabpanel" class="tab-pane" id="profile">
<table id="profile">
<h3>Approved Articles</h3>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="3"></th>
	</tr>

	<% @approved_articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
	</tr>
	<% end %>	

</table><br><br>
</div>

<div role="tabpanel" class="tab-pane" id="messages">
<table id="messages">
<h3>Rejected Articles</h3>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="3"></th>
	</tr>

	<% @rejected_articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= link_to 'Show', article_path(article) %></td>
		
	</tr>
	<% end %>	
</table>
<br><br>
</div>

 </div>

</div>

<%#= link_to 'Back', dashboard_path %>
